<a href="https://colab.research.google.com/github/Ali-Abdelmonim/Teaching/blob/master/Programming%20Language/lab10_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists:

What will the following Python code print out?


>``` 
ls = [10, 20, 30]           
print(len(ls))
```

What will the following Python code print out?


>``` 
ls = []           
print(len(ls))
```

What will the following Python code print out?


>``` 
ls = ['CSB', 2.3, 5, [10, 20]]           
print(len(ls))
```

>*    ['CSB', 2.3, 5, [10, 20]]
*    6
*    5
*    4

For the following list, How would you print out "Samy"?


>``` 
friends = ["Mohamed", "Samy", "Hana"]
```



>*   `print(friends['samy'])`
*    `print(friends['Samy'])`
*    `print(friends[2])`
*    `print(friends[1])`

For the following list, How would you print out "Hana"?


>``` 
friends = ["Mohamed", "Samy", "Hana"]
```



>*   `print(friends['hana'])`
*    `print(friends['Hana'])`
*    `print(friends[-1])`
*    `print(friends[1])`

What will the following Python code print out?


>``` 
numbers = [7, 77, 777]
numbers[1] = 5
print(numbers)
```

>*   [7, 77, 777]
*    [5, 77, 777]
*    [7, 5, 777]

What will the following Python code print out?


>``` 
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(len(c))
```

>*   [1, 2, 3, 4, 5, 6]
*    5
*    6
*   21

What will the following Python code print out?


>``` 
a = [1, 2]
b = a*3
print(b)
```

>*   [3, 6]
*    9
*    [1, 2, 3]
*   [1, 2, 1, 2, 1, 2]

What will the following Python code print out?


>``` 
t1 = [3, 12, 23]
t2 = [17, 27]
t1.append(t2)
print(t1)
```

>*   [17, 27]
*    [3, 12, 23]
*    [3, 12, 23, 17, 27]
*   [3, 12, 23, [17, 27]]

What will the following Python code print out?


>``` 
t1 = [3, 12, 23]
t2 = [17, 27]
t1.extend(t2)
print(t1)
```

>*   [17, 27]
*    [3, 12, 23]
*    [3, 12, 23, 17, 27]
*   [3, 12, 23, [17, 27]]

Which of the following slicing operation will produce the list`['d', 'e']`?

>``` 
t = ['a', 'b', 'c', 'd', 'e', 'f']
```

>*   `t['d', 'e']`
*    `t[4:6]`
*    `t[4:5]`
*    `t[3:5]`
*    `t[:]`

Which of the following slicing operation will produce the list`['a', 'b', 'c', 'd', 'e', 'f']`?

>``` 
t = ['a', 'b', 'c', 'd', 'e', 'f']
```

>*   `t['a', 'b', 'c', 'd', 'e', 'f']`
*    `t[1:6]`
*    `t[0:6]`
*    `t[1:7]`
*    `t[:]`

Which list method adds a new item to the end of an existing list?



>*   `index()`
*   `add()`
*   `append()`
*   `pop()`

What will the following Python code print out?


>``` 
friends = ["Mohamed", "Samy", "Hana"]
friends.sort()
print(friends[0])
```



>*   friends
*    Hana
*    Samy
*    Mohamed

What will the following Python code print out?


>``` 
t = ['a', 'b', 'c']
t.pop()
print(t)
```



>*   `['a', 'b', 'c']`
*    `['b', 'c']`
*    `['a', 'b']`
*    `['a', 'c']`

What will the following Python code print out?


>``` 
t = ['a', 'b', 'c']
t.pop(1)
print(t)
```



>*   `['a', 'b', 'c']`
*    `['b', 'c']`
*    `['a', 'b']`
*    `['a', 'c']`

For the following list, How would you delete `'b'` ?
>```
t = ['a', 'b', 'c']`?
```


>*   `t.del('b')`
*    `t.remove('b')`
*    `t.pop('b')`

What will the following Python code print out?


>``` 
friends = ['Salah', 'Jana', 'Salah', 'Ahmed']
friends.remove('Salah')
print(friends)
```



>*   `['Salah', 'Jana', 'Salah', 'Ahmed']`
*    `['Jana', 'Ahmed']`
*    `['Salah', 'Jana', 'Ahmed']`
*    `['Jana', 'Salah', 'Ahmed']`